[package]
name = "jyt"
version = "0.1.3"
authors = ["Alex Hamlin <alex@alexhamlin.co>"]
edition = "2018"

[dependencies]
serde = "1"

[dependencies.clap]
version = "2"
default-features = false
features = ["color", "suggestions", "wrap_help"]

[dependencies.serde_any]
version = "0.5"
default-features = false
features = ["json", "yaml", "toml"]

[dependencies.serde-value]
# TODO: Figure out a more sustainable way to preserve ordering; using a stale
# fork from GitHub is not great
version = "0.5"
git = "https://github.com/mitsuhiko/serde-value"
branch = "feature/add-preserve-order"
features = ["preserve_order"]
